[user]
    name = Dru Sellers
    email = dru@drusellers.com
[core]
    editor = code --wait
    autocrlf = false
[diff]
    tool = bc3
    renames = copies
[difftool]
    prompt = false
[difftool "bc3"]
    path = /usr/local/bin/bcomp
[merge]
    tool = bc3
[mergetool "bc3"]
    path = /usr/local/bin/bcomp
    trustExitCode = true
[alias]
    st = status
    c = commit -m
    aa = add -A
    fa = !git fetch --all --prune
    co = checkout
    pu = clean -dfx
    new = "!f() { git checkout -b \"dds/$1\"; }; f"
    pnb = push -u origin HEAD
    pf = push --force-with-lease
    rom = rebase origin/master
    rod = rebase origin/develop
    graph = log --graph --decorate --pretty=oneline --abbrev-commit
    diffdir = difftool --dir-diff --tool=bc3 --no-prompt
[log]
    date = relative
[branch]
    autosetupmerge = true
[mergetool]
    keepBackup = false
    prompt = false
[push]
    default = simple
[credential]
    helper = store
[rebase]
    autosquash = true
    autoStash = true
[fetch]
    prune = true
[pager]
  branch = cat
[rerere]
    enabled = true
